.button-area {
      text-align: center;
}

#table-title {
      text-align: center;
}

/* https://stackoverflow.com/questions/31184000/making-a-bootstrap-table-column-fit-to-content */
.table td.fit {
      white-space: nowrap;
      width: 1%;
} 
